- page_title "Members"

.project-members-page.js-project-members-page.prepend-top-default
  - if can?(current_user, :admin_project_member, @project)
    .panel.panel-default
      .panel-heading
        添加新的成员
        .controls
          = link_to import_namespace_project_project_members_path(@project.namespace, @project), class: "btn btn-grouped", title: "从另一个项目导入成员" do
            导入成员
      .panel-body
        %p.light
          下方列举了所有有权限访问该项目的成员
        = render "new_project_member"

    = render 'shared/members/requests', membership_source: @project, requesters: @requesters

  = render 'team', members: @project_members

  - if @group
    = render "group_members", members: @group_members

  - if @project_group_links.any? && @project.allowed_to_share_with_group?
    = render "shared_group_members"
